<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<header>
  <div class="small-container">
    <%= image_tag("conoce-a-tus-vecinos.png", class: "logo") %>
    <ul>
      <%= link_to "Saber más" %>
    </ul>
  </div>
</header>

<div class="small-container">
  <div class="col col-50 noticias">
    <%= image_tag ("noticias.jpeg"), class: "android-iphone" %>
  </div>
  <div class="col col-50 description">
    <h4 class="titleloc">Descarga gratis la app <br> y acércate a los vecinos de tu comunidad</h4>
    <center>
      <a class="btn blue big">App store</a>
      <a class="btn blue big">Google play</a>
    </center>
  </div>
</div>

<div class="full-container fondo-blanco second">
  <div class="small-container">
    <div class="col col-50">
      <h4 class="identifica">Identifica la comunidad de tus vecinos a través de tu código postal y después ingresa tu colonia</h4>
    </div>
    <div class="col col-50">
      <%= image_tag("Map.png", class: "Mapa") %>
    </div>
  </div>
</div>
<div class="full-container localizacion ">
  <div class="small-container titleloc">

      <h1>Localizanos en nuestras oficinas</h1>


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.655911066017!2d-103.6899736878075!3d19.25522731996561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84255a8ec6a7ee45%3A0xd06c856c6d209076!2sSalas+de+Convenciones!5e0!3m2!1ses-419!2smx!4v1543159443215" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>

</div>
<footer>
  <center>
    <div class="full-container fondo-blanco">
      <div class="small-container">
        <h4>Contáctanos</h4>

        <span><%= image_tag ("facebook.png"), class: "facebook" %></span>
        <span><%= image_tag ("twitter.png"), class: "twitter" %></span>
        <span><%= image_tag ("github-logo.png"), class: "github-logo" %></span>
        <span><%= image_tag ("instagram.png"), class: "instagram" %></span>

      </div>
    </div>
  </center>
</footer>
